.App {
  text-align: center;

}

.App-logo {
  animation: App-logo-spin infinite 1s ease-in-out;
  animation-direction: alternate;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(60deg); }
  to { transform: rotate(-60deg); }

  }

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");
